<html>  
    <head> 
        <title>Advanced Templating</title> 
    </head>
    <body>  
      {{>header}}
      <p>I am winning this slowly</p> <!--dynamic data recieved from server-->
      {{>footer}}
    </body>
</html>